<header>
    <a href="/" id="home"><img src="/assets/images/header-icon.png" alt="Nokorpo" width="328px" height="79px"></a>
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url==item.link %}class="navigation-item current" {% endif %} class="navigation-item">
        {{ item.name }}
    </a>
    {% endfor %}
    <a rel="me" href="{{ site.data.social-media.mastodon.href }}" target="_blank" >
        <img src="/assets/images/social/{{ site.data.social-media.mastodon.icon }}" width="20px" height="20px" alt="Mastodon">
    </a>
</header>