@font-face {
    font-family: "inter";
    src: url("/assets/fonts/Inter-VariableFont_wght.ttf");
}

$color-main: #ff597a;

body {
    font-family: "inter";
    background-color: #FFF3E6;
    line-height: 1.6em;
    margin: 0px;
}

h3 {
    line-height: 1.2em;
}

.category-header {
    font-size: 34px;
}

.category-games {
    color: #FF597A;
}

.category-tools {
    color: #59AFFF;
}

body>section, body>header>div {
    max-width: 1000px;
}

a {
    color: $color-main;
    text-decoration: none;
}

li {
    margin: 5px 0;
}

.link-pill { 
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 6px;
    font-weight: 600;
    border-radius: 5px;
    background-color: $color-main;
    border: none;
    color: white;
    cursor: pointer;
}

.link-pill>img {
    filter: brightness(10);
    height: 16px;
    max-width: 16px;
}

.text-center {
    text-align: center;
}

.post-teaser {
    display: flex;
    justify-content: center;
}

.img-border {
    border-radius: 10px;
    border: 2px solid #503e4d;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* header */
header {
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 10px;
    box-shadow: 0 0px 2px 2px #4d403530;
    background-color: #FFF3E6;
}

.real-header {
    align-self: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    display: flex;
    gap: 15px;
}

.navigation-item {
    font-weight: 600;
}

.navigation-item-current {
    color: black;
}

/* cards */
.card-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 20%;
    padding: 16px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.card-icon {
    margin-right: 10px;
}

.card-links {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.card-grow {
    flex-grow: 1;
}

.card > img {
    width: 100%;
}

.card > h2{
    text-align: center;
    padding-bottom: 5px;
}

.card-screenshot {
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 750px) {
    #card-container {
        gap: 10px;
        padding: 0px 10px;
    }
}

/* section */
section {
    margin: auto;
    align-self: center;
}

section>h1 {
    text-align: center;
}

/* blogPosts */
.blogPosts {
    padding: 0;
}

.blogPosts>li {
    list-style-type: none;
}

.blogPosts>li>span>h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    margin-top: 25px;
}

.blogPosts>li>span>h2>span {
    margin-left: 8px;
    white-space: nowrap;
}

.blogPosts>li>div {
    display: flex;
    align-items: center;
}

.blogPosts>li>div>img {
    background-color: lavender;
    margin-right: 25px;
}

.blogPosts-date {
    font-weight: normal;
    color: #777;
    font-size: medium;
}

/* elements */
.img-container {
    display: flex;
}

.img-container>img {
    width: 25%;
    object-fit: cover;
    vertical-align: bottom;
    flex-grow: 1;
}

/* games */
.games-container {
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.game {
    max-width: 200px;
    margin: 0px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* social */
.social>a {
    margin-right: 12px;
    margin-left: 12px;
}

.social>a :hover {
    filter: opacity(0.7);
}

/* elements */
.gallery-spaced {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-spaced>img {
    object-fit: cover;
    margin: 10px;
    width: 230px;
    height: 230px;
}

.gallery-crunched {
    display: flex;
    flex-wrap: wrap;
}

.gallery-crunched>img {
    width: 25%;
    object-fit: cover;
    vertical-align: bottom;
    flex-grow: 1;
}

/* about-us */
.columns {
    display: flex;
    width: 100%;
}

.columns>div {
    width: 0;
    flex: 1 1 0;
}

.columns>div>img {
    width: 100%;
}

.columns>div:not(:first-child):not(:last-child) {
    margin-right: 30px;
    margin-left: 30px;
}

.columns>div>h2 {
    text-align: center;
}

.banner {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("/assets/images/games/michiball/library_hero.jpg");
    background-position: center center;
    background-size: cover;
}
section div, section img, section iframe {
    border-radius: 15px;
    max-width: 100%;
}

/* Mobile */
@media (max-width: 750px) {
    .real-header {
        flex-direction: column;
    }

    #gallery>a {
        width: 100%;
    }

    .img-container>img {
        width: 50%;
    }

    .blogPosts>li>div {
        flex-direction: column;
    }

    .columns {
        flex-direction: column;
    }

    .columns>div {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .columns>div:not(:first-child):not(:last-child) {
        margin-right: 0px;
        margin-left: 0px;
    }

    .category-header {
        max-width: calc(270px + 32px);
        margin-left: auto;
        margin-right: auto;
        min-width: 70%;
    }

    .card-container {
        justify-content: center;
    }

    .card {
        min-width: 50%;
    }

    .card > div > img {
        height: 100%;
    }

    .card-icon {
        height: inherit !important;
    }
}
