@font-face {
    font-family: "montserrat";
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    font-family: 'montserrat';
    background-color: #181b22;
    color: #c8e5fb;
    line-height: 1.6em;
}
body > * {
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

a {
    color: #ff99d5;
    text-decoration: none;
}

img, iframe{
    max-width: 100%;
}

li {
    margin: 5px 0;
}

.text-center {
    text-align: center;
}
.post-teaser {
    display: flex;
    justify-content: center;
}
.img-border{
    border-radius: 10px;
    border: 3px solid lavender;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
/* header */
header {
    align-self: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

header > * {
    margin-right: 50px;
}

header > * :hover {
    filter: contrast(130%);
}

header > .navigation-item {
    font-weight: 500;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(199, 91, 136);
}

header > .current {
    color: #bbb;
    border-bottom: 3px solid #ddd;
}

/* index */
#gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#gallery > a{
    width: 350px;
    height: 350px;
    border: 5px solid black;
    border-bottom: 15px solid black;
    text-align: center;
    background-color: #20282e;
    background-position: center;
    background-size: cover;
    transition: all .2s;
}

#gallery > a:hover{
    border: 5px solid #96356d;
}
/* section */
section {
    margin: auto;
    align-self: center;
}

section>h1 {
    text-align: center;
}

/* blogPosts */
.blogPosts {
    padding: 0;
}

.blogPosts>li {
    list-style-type: none;
}

.blogPosts>li>span>h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    margin-top: 25px;
}

.blogPosts>li>span>h2>span {
    margin-left: 8px;
    white-space: nowrap;
}

.blogPosts>li>div {
    display: flex;
    align-items: center;
}

.blogPosts>li>div>img {
    background-color: lavender;
    margin-right: 25px;
}

.blogPosts-date {
    font-weight: normal;
    color: #777;
    font-size: medium;
}

/* games */
.games-container{
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.game{
    max-width: 200px;
    margin: 0px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* social */
.social > a{
    margin-right: 12px;
    margin-left: 12px;
}
.social > a :hover {
    filter: opacity(.7);
}

/* elements */
.gallery-spaced {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-spaced > img {
    object-fit: cover;
    margin: 10px;
    width: 230px;
    height: 230px;
}

.gallery-crunched {
    display: flex;
    flex-wrap: wrap;
}
.gallery-crunched > img {
    width: 25%;
    object-fit: cover;
    vertical-align: bottom;
    flex-grow: 1;
}

/* Mobile */
@media (max-width: 750px) {
    header {
        flex-direction: column;
    }
    header > * {
        margin-right: 0px;
    }    
    #gallery  > a {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .img-container > img {
        width: 50%;
    }
    .blogPosts>li>div {
        flex-direction: column;
    }
}